<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!album">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="album">{{album.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="album" class="selection">
    <h3>{{album.title}}</h3>
    <img *ngIf="albumImageUrl" [src]="albumImageUrl" />
    <ion-item-group *ngFor="let group of trackGroups">
      <ion-item-divider light>{{group[0]}}</ion-item-divider>
      <button ion-item no-lines
              *ngFor="let track of group[1]"
              (click)="play(track)">
        <ion-icon name="stats" *ngIf="playing(track) | async" item-left></ion-icon>
        <h3>{{track.title}}</h3>
        <p>{{track.duration}}</p>
        <button item-right clear light (click)="showTrackOptions($event, track)">
          <ion-icon name="more"></ion-icon>
        </button>
      </button>
    </ion-item-group>
  </div>
</ion-content>

<ion-footer>
  <player></player>
</ion-footer>
