<div class="player" *ngIf="currentItem | async" (click)="goToAlbum()">
  <ion-toolbar>
    <ion-buttons start class="album-image">
      <img [src]="albumImageUrl | async" height="30" width="30" />
    </ion-buttons>
    <div class="track-info">
      <div><span>{{(currentItem | async).track.title}}</span></div>
      <small>{{(currentItem | async).track | trackArtists}}</small>
    </div>
    <ion-buttons end>
      <button (click)="toggle($event)">
        <ion-icon [name]="(currentlyPlaying | async) ? 'pause' : 'play'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</div>
